<div class="container">
    <div class="text-center border mb-5 shadow rounded">
        <h1>Contact</h1>
        <p>I can be reached at the following : <br> <b>jean-marc.naounou&#64;epitech.eu</b><br> <b>+33 (0) 7 66 79 59 17</b></p>
        <p>Feel free to connect with me on any of the following platforms:</p>
    </div>

    <div class="list-group shadow">
        <a href="https://www.linkedin.com/in/jean-marc-naounou/" target="_blank" class="list-group-item list-group-item-action d-flex gap-3 py-3">
            <img src="https://upload.wikimedia.org/wikipedia/commons/c/ca/LinkedIn_logo_initials.png" alt="LinkedIn Logo" style="width: 40px; height: 40px;" class="rounded-circle flex-shrink-0 me-5">
            <h3 class="mb-0">LinkedIn</h3>
        </a>
        <a href="https://github.com/Jmarc07" target="_blank" class="list-group-item list-group-item-action d-flex gap-3 py-3">
            <img src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg" alt="GitHub Logo" style="width: 40px; height: 40px;" class="rounded-circle flex-shrink-0 me-5">
            <h3 class="mb-0">GitHub</h3>
        </a>
        <!--<a href="https://www.linkedin.com/in/jean-marc-naounou/" target="_blank" class="list-group-item list-group-item-action d-flex gap-3 py-3">
            <img src="https://upload.wikimedia.org/wikipedia/commons/c/ca/LinkedIn_logo_initials.png" alt="LinkedIn Logo" style="width: 40px; height: 40px;" class="rounded-circle flex-shrink-0 me-5">
            <h3 class="mb-0">LinkedIn</h3>
        </a>-->
    </div>
</div>
