<div class="container">
    <div class="row">
        <!--About me-->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>About Me</h2>
                <img src="assets/images/profile_picture.jpg" alt="profile picture" width="256" height="256" class="rounded-circle">
                <p>As a passionate software engineering student at EPITECH, I am driven by a deep enthusiasm for computer science and software development. My experience spans a range of programming languages, including C/C++, Python, Java, and JavaScript, which I've applied across various projects like creating an RPG game with a full user interface, system combat, and data-saving capabilities, as well as developing web APIs.<br>Beyond coding, I enjoy sports like basketball and roller skating, and have a passion for literature, including manga and light novels.</p>


            </div>
        </div>
        <!--project-->
        <!--<div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>Featured Projects</h2>
                <h4>{{featuredProject.name}}</h4>
                <img src="assets/images/portfolio-preview.jpg" alt="Portfolio Preview" class="img-fluid mb-3" style="max-width: 400px;">
                 <p>{{featuredProject.description}}</p>
                <div class="mb-3">
                    <a [href]="featuredProject.projectLink" class="btn btn-primary me-2" target="_blank">View Project</a>
                    <a [href]="featuredProject.githubLink" class="btn btn-secondary" target="_blank">
                        <i class="bi bi-github"></i> GitHub
                    </a>
                </div> 
            </div>
        </div>-->
    </div>

</div>