<div class="container">
    <div class="row">
        <!--About me-->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>About Me</h2>
                <!-- <img src="https://pin.it/3inicFu74" alt="profile picture" width="256" height="256" class="rounded-circle"> -->
                <p>As a passionate software engineering student at EPITECH, I am driven by a deep enthusiasm for computer science and software development. My experience spans a range of programming languages, including C/C++, Python, Java, and JavaScript, which I’ve applied across various projects like creating an RPG game with a full user interface, system combat, and data-saving capabilities, as well as developing web APIs.<br>Beyond coding, I enjoy sports like basketball and roller skating, and have a passion for literature, including manga and light novels.</p>
            </div>
        </div>
        <!--project-->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <H2>Featured Projects</H2>
                <h4>{{featuredProject.name}}</h4>
            </div>
        </div>
    </div>
</div>